.breadcrumbs {
  margin: 0 20px
}

.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.breadcrumbs__item:not(:last-child)::after {
  content: '/';
  margin-left: 5px;
  margin-right: 5px;
  font-size: 17px;
  line-height: 20px
}

.breadcrumbs__link {
  display: block;
  text-decoration: none;
  color: #eee5b5;
  font-size: 17px;
  line-height: 20px;
  -webkit-transition: color .2s;
  transition: color .2s
}

.breadcrumbs__link[href]:hover {
  color: #dfcf77
}
