.film-card__header {
  position: relative
}

.film-card {
  position: relative;
  z-index: 1;
  color: #eee5b5;
  padding-bottom: 78px;
  background: #e1b0b2
}

.film-card--full {
  padding-bottom: 45px;
  min-height: 100vh
}

.film-card__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.film-card__bg::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .4)
}

.film-card__bg img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  font-family: "object-fit:cover;object-position:center top";
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%)
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 22px 75px
}


.film-card__poster--small {
  border-radius: 5px;
  width: 132px;
  height: 198px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  object-fit: fill;
}

.film-card__poster--small img {
  height: 100%;
  width:100%;
  object-fit: contain;
}

.film-card__poster img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  font-family: "object-fit:cover";
  object-fit: cover
}

.add-review {
  padding-top: 62px;
  width: 520px;
  margin: 0 auto
}

